/* Bij de browser console log heb ik bij 'Network' 
de 'Disable cache' aangevinkt en 'ctrl + r' ingedrukt
+ de pagina opnieuw geladen
om de veranderingen te kunnen opmerken */

body {
    background-color: brown;
    color: black;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: orange;
    margin-bottom: 40px;
}

footer {
    background-color: orange;
    height: 100px;
    margin-top: 40px;
}

h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 50px;
    padding: 0px;
    line-height: 150px;
}

a {
    color: orange;
}

article {
    background-color: pink;
    width: 500px;
    border: 3px solid whitesmoke;
    display: table;
    margin: 0px 200px 0px auto;
}

aside {
    width: 500px;
    height: 40px;
    margin: 0px 200px 0px auto;
    background-color: pink;
}